@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    --line-color: #e5e7eb
}

html.dark {
    --line-color: rgba(255, 255, 255, 0.2);
}

.borderBlack {
    @apply border border-black/10
}

@keyframes colorPulse {
  0% {
    box-shadow: 0 0 20px rgba(59, 130, 246, 0.5); /* blue-500 */
  }
  25% {
    box-shadow: 0 0 20px rgba(216, 191, 216, 0.5); /* lavender */
  }
  50% {
    box-shadow: 0 0 20px rgba(255, 105, 180, 0.5); /* pink */
  }
  75% {
    box-shadow: 0 0 20px rgba(34, 197, 94, 0.5); /* green-500 */
  }
  100% {
    box-shadow: 0 0 20px rgba(34, 211, 238, 0.5); /* cyan-400 */
  }
}

.hover-glow:hover {
  animation: colorPulse 2s infinite ease-in-out;
}
